# Use an official Discord BOT token. Never use a personal user token.
DISCORD_TOKEN=
SERVER_ID=
CHANNEL_ID=
AUTHORIZED_USER_ID=

# Optional values
TRIGGER=,with all
ACTION_ONE=,rob uid
ACTION_TWO=,dep all
ACTION_DELAY_MS=1000
